{% extends "base.html" %}
<!-- template badges.html -->
{% load extra_tags %}
{% load humanize %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Badges summary" %}{% endspaceless %}{% endblock %}
{% block content %}
<div>{{ badges.paginator.sort_tabs }}</div>
<div class="headlineA">
        <span class="headMedals">{% trans "Badges" %}</span>
</div>
<div class="badges" id="main-body" style="width:100%">
    <div id="medalList">
        {% for badge in badges.paginator.page %}
        <div style="clear:both;line-height:30px">
            <div style="float:left;min-width:30px;text-align:right;height:30px">
            {% for a in mybadges %}
                {% ifequal a.badge_id badge.id %}
                 <span style="font-size:175%; padding-right:5px; color:#5B9058;">&#10004;</span>
                {% endifequal %}
            {% endfor %}
            </div>
            <div style="float:left;width:230px;">
                <a href="{{badge.get_absolute_url}}" title="{{ badge.get_type_display }} : {{ badge.description }}" class="medal"><span class="badge{{ badge.type }}">&#9679;</span>&nbsp;{{ badge.name }}</a><strong> &#215; {{ badge.awarded_count|intcomma }}</strong>
            </div>
            <p style="float:left;margin-top:8px;">
                {{ badge.description }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
<br clear="all"/>
<div class="pager">{{ badges.paginator.page_numbers }}</div>
<br clear="all"/>
{% endblock %}

{% block sidebar %}
<div class="boxC">
    <h3>{% trans "Badge Types" %}</h3>
    <br />
    <div class="body">
    <p>{% trans "Skill Badges:" %}</p>
    <p>
        <a style="cursor:default;" class="medal"><span class="badge6">&#9679;</span>&nbsp;{% trans "ruby" %}</a>
    </p>
    <p>{% trans "Value Badges:" %}</p>
    <p>
        <a style="cursor:default;" class="medal"><span class="badge5">&#9679;</span>&nbsp;{% trans "emerald" %}</a>
    </p>
    <p>{% trans "Community-Oriented Badges:" %}</p>
    <p>
        <a style="cursor:default;" class="medal"><span class="badge4">&#9679;</span>&nbsp;{% trans "sapphire" %}</a>
    </p>
    <p>{% trans "Participation Badges:" %}</p>
    <p>
        <a style="cursor:default;" class="medal"><span class="badge3">&#9679;</span>&nbsp;{% trans "gold" %}</a>
        <a style="cursor:default;" class="medal"><span class="badge2">&#9679;</span>&nbsp;{% trans "silver" %}</a>
        <a style="cursor:default;" class="medal"><span class="badge1">&#9679;</span>&nbsp;{% trans "bronze" %}</a>
    </p>
    </div>
</div>
{% endblock %}


<!-- end template badges.html -->
